.login {
  margin: auto;
}

.login form {
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.login input {
  border-radius: 2px;
}

.login label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6em;
}

.login button {
  outline: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}

.inputFeedback {
  color: red;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 760px) {
  .login {
    min-width: 360px;
  }

  .login input {
    padding: 21px;
    margin-bottom: 24px;
  }

  .login button {
    padding: 21px;
    margin-top: 10px;
  }
}

@media (min-width: 761px) {
  .login {
    min-width: 300px;
  }

  .login input {
    padding: 10px;
    margin-bottom: 10px;
  }

  .login button {
    padding: 10px;
  }
}